<template>
<div>

  <div v-if="firstView" class="flex flex-col">
    <div class="w-full bg-white shadow mb-8 p-4 border" v-for="(domain, index) in domains" :key=index>
      <h1 class="font-semibold">Domain: {{domain.id}}</h1>
      <div class=" bg-blue-200 hover:bg-blue-400 shadow  my-4 w-full p-4 cursor-pointer" 
        v-for="(page, index2) in domain.current_user_domain_page_access.pages" :key=index2 @click="openPage(domain.id, page.id)">
        Page: {{page.id}}
      </div>
    </div>
  </div>

  <div v-else class="flex flex-col w-full lg:w-1/2 bg-white p-8 shadow border relative text-black text-xl relative">
    <div class="pb-6 flex w-full justify-between">
      <i @click="firstView=true" class="cursor-pointer bg-white hover:bg-gray-200 p-6 h-0 w-0 flex justify-center items-center content-center rounded-full shadow border fas fa-long-arrow-alt-left"></i>
      <i @click="openPage(currentPageID, currentDomainID)" class="cursor-pointer bg-white hover:bg-gray-200 p-6 h-0 w-0 flex justify-center items-center content-center rounded-full shadow border fas fa-sync"></i>
    </div>
   
    <table>
      <tr v-for="(value, index) in this.pageContent.content" :key=index>
          <template v-for="(subValue, index) in value" >
            <th  :key=index v-if="index==0">{{subValue.value}}</th>
            <td :style=subValue.style :key=index v-else>{{subValue.value}}</td>
          </template>
      </tr>
    </table>
  </div>

</div>

</template>

<script>
import axios from 'axios';

export default {
  data: function() {
    return {
      firstView: true,
      domains: null,
      pageContent: null,
      currentPageID: null,
      currentDomainID: null,
    }
  },
  created() {
    let that = this
    axios.get('https://www.ipushpull.com/api/1.0/domain_page_access/')
      .then(function (response) {
        that.domains = response.data.domains
      })
  },
  methods: {
    openPage(pageID, domainID) {
      this.currentPageID = pageID
      this.currentDomainID = domainID
      let that = this
      axios.get('https://www.ipushpull.com/api/1.0/domains/id/' + pageID + '/page_content/id/' + domainID + '/')
        .then(function (response) {
          that.pageContent = response.data
          that.firstView = false
      })
    },
  }
}
</script>

<style>
  table, th, td {
  border: 1px solid black;
}
</style>